body .plr1  { padding-left: 1px; padding-right: 1px;}
body .plr2  { padding-left: 2px; padding-right: 2px;}
body .plr3  { padding-left: 3px; padding-right: 3px;}
body .plr4  { padding-left: 4px; padding-right: 4px;}
body .plr5  { padding-left: 5px; padding-right: 5px;}
body .plr6  { padding-left: 6px; padding-right: 6px;}
body .plr7  { padding-left: 7px; padding-right: 7px;}
body .plr8  { padding-left: 8px; padding-right: 8px;}
body .plr9  { padding-left: 9px; padding-right: 9px;}
body .plr10 { padding-left:10px; padding-right:10px; }
body .plr11 { padding-left:11px; padding-right:11px; }
body .plr12 { padding-left:12px; padding-right:12px; }
body .plr13 { padding-left:13px; padding-right:13px; }
body .plr14 { padding-left:14px; padding-right:14px; }
body .plr15 { padding-left:15px; padding-right:15px; }
body .plr16 { padding-left:16px; padding-right:16px; }
body .plr17 { padding-left:17px; padding-right:17px; }
body .plr18 { padding-left:18px; padding-right:18px; }
body .plr19 { padding-left:19px; padding-right:19px; }
body .plr20 { padding-left:20px; padding-right:20px; }
body .plr21 { padding-left:21px; padding-right:21px; }
body .plr22 { padding-left:22px; padding-right:22px; }
body .plr23 { padding-left:23px; padding-right:23px; }
body .plr24 { padding-left:24px; padding-right:24px; }
body .plr25 { padding-left:25px; padding-right:25px; }
body .plr26 { padding-left:26px; padding-right:26px; }
body .plr27 { padding-left:27px; padding-right:27px; }
body .plr28 { padding-left:28px; padding-right:28px; }
body .plr29 { padding-left:29px; padding-right:29px; }
body .plr30 { padding-left:30px; padding-right:30px; }
body .plr35 { padding-left:35px; padding-right:35px; }
body .plr40 { padding-left:40px; padding-right:40px; }
body .plr45 { padding-left:45px; padding-right:45px; }
body .plr50 { padding-left:50px; padding-right:50px; }
body .plr55 { padding-left:55px; padding-right:55px; }
body .plr60 { padding-left:60px; padding-right:60px; }

body .ptb1  { padding-top: 1px; padding-bottom: 1px;}
body .ptb2  { padding-top: 2px; padding-bottom: 2px;}
body .ptb3  { padding-top: 3px; padding-bottom: 3px;}
body .ptb4  { padding-top: 4px; padding-bottom: 4px;}
body .ptb5  { padding-top: 5px; padding-bottom: 5px;}
body .ptb6  { padding-top: 6px; padding-bottom: 6px;}
body .ptb7  { padding-top: 7px; padding-bottom: 7px;}
body .ptb8  { padding-top: 8px; padding-bottom: 8px;}
body .ptb9  { padding-top: 9px; padding-bottom: 9px;}
body .ptb10 { padding-top:10px; padding-bottom:10px; }
body .ptb11 { padding-top:11px; padding-bottom:11px; }
body .ptb12 { padding-top:12px; padding-bottom:12px; }
body .ptb13 { padding-top:13px; padding-bottom:13px; }
body .ptb14 { padding-top:14px; padding-bottom:14px; }
body .ptb15 { padding-top:15px; padding-bottom:15px; }
body .ptb16 { padding-top:16px; padding-bottom:16px; }
body .ptb17 { padding-top:17px; padding-bottom:17px; }
body .ptb18 { padding-top:18px; padding-bottom:18px; }
body .ptb19 { padding-top:19px; padding-bottom:19px; }
body .ptb20 { padding-top:20px; padding-bottom:20px; }
body .ptb21 { padding-top:21px; padding-bottom:21px; }
body .ptb22 { padding-top:22px; padding-bottom:22px; }
body .ptb23 { padding-top:23px; padding-bottom:23px; }
body .ptb24 { padding-top:24px; padding-bottom:24px; }
body .ptb25 { padding-top:25px; padding-bottom:25px; }
body .ptb26 { padding-top:26px; padding-bottom:26px; }
body .ptb27 { padding-top:27px; padding-bottom:27px; }
body .ptb28 { padding-top:28px; padding-bottom:28px; }
body .ptb29 { padding-top:29px; padding-bottom:29px; }
body .ptb30 { padding-top:30px; padding-bottom:30px; }
body .ptb35 { padding-top:35px; padding-bottom:35px; }
body .ptb40 { padding-top:40px; padding-bottom:40px; }
body .ptb45 { padding-top:45px; padding-bottom:45px; }
body .ptb50 { padding-top:50px; padding-bottom:50px; }
body .ptb55 { padding-top:55px; padding-bottom:55px; }
body .ptb60 { padding-top:60px; padding-bottom:60px; }

body .pd1  { padding:  1px; }
body .pd2  { padding:  2px; }
body .pd3  { padding:  3px; }
body .pd4  { padding:  4px; }
body .pd5  { padding:  5px; }
body .pd6  { padding:  6px; }
body .pd7  { padding:  7px; }
body .pd8  { padding:  8px; }
body .pd9  { padding:  9px; }
body .pd10 { padding: 10px; }
body .pd11 { padding: 11px; }
body .pd12 { padding: 12px; }
body .pd13 { padding: 13px; }
body .pd14 { padding: 14px; }
body .pd15 { padding: 15px; }
body .pd16 { padding: 16px; }
body .pd17 { padding: 17px; }
body .pd18 { padding: 18px; }
body .pd19 { padding: 19px; }
body .pd20 { padding: 20px; }
body .pd21 { padding: 21px; }
body .pd22 { padding: 22px; }
body .pd23 { padding: 23px; }
body .pd24 { padding: 24px; }
body .pd25 { padding: 25px; }
body .pd26 { padding: 26px; }
body .pd27 { padding: 27px; }
body .pd28 { padding: 28px; }
body .pd29 { padding: 29px; }
body .pd30 { padding: 30px; }
body .pd35 { padding: 35px; }
body .pd40 { padding: 40px; }
body .pd45 { padding: 45px; }
body .pd50 { padding: 50px; }
body .pd55 { padding: 55px; }
body .pd60 { padding: 60px; }

body .pt1 { padding-top: 1px; }
body .pt2 { padding-top: 2px; }
body .pt3 { padding-top: 3px; }
body .pt4 { padding-top: 4px; }
body .pt5 { padding-top: 5px; }
body .pt6 { padding-top: 6px; }
body .pt7 { padding-top: 7px; }
body .pt8 { padding-top: 8px; }
body .pt9 { padding-top: 9px; }
body .pt10 { padding-top: 10px; }
body .pt11 { padding-top: 11px; }
body .pt12 { padding-top: 12px; }
body .pt13 { padding-top: 13px; }
body .pt14 { padding-top: 14px; }
body .pt15 { padding-top: 15px; }
body .pt16 { padding-top: 16px; }
body .pt17 { padding-top: 17px; }
body .pt18 { padding-top: 18px; }
body .pt19 { padding-top: 19px; }
body .pt20 { padding-top: 20px; }
body .pt21 { padding-top: 21px; }
body .pt22 { padding-top: 22px; }
body .pt23 { padding-top: 23px; }
body .pt24 { padding-top: 24px; }
body .pt25 { padding-top: 25px; }
body .pt26 { padding-top: 26px; }
body .pt27 { padding-top: 27px; }
body .pt28 { padding-top: 28px; }
body .pt29 { padding-top: 29px; }
body .pt30 { padding-top: 30px; }
body .pt35 { padding-top: 35px; }
body .pt40 { padding-top: 40px; }
body .pt45 { padding-top: 45px; }
body .pt50 { padding-top: 50px; }
body .pt55 { padding-top: 55px; }
body .pt60 { padding-top: 60px; }

body .pb1  { padding-bottom: 1px; }
body .pb2  { padding-bottom: 2px; }
body .pb3  { padding-bottom: 3px; }
body .pb4  { padding-bottom: 4px; }
body .pb5  { padding-bottom: 5px; }
body .pb6  { padding-bottom: 6px; }
body .pb7  { padding-bottom: 7px; }
body .pb8  { padding-bottom: 8px; }
body .pb9  { padding-bottom: 9px; }
body .pb10 { padding-bottom: 10px; }
body .pb11 { padding-bottom: 11px; }
body .pb12 { padding-bottom: 12px; }
body .pb13 { padding-bottom: 13px; }
body .pb14 { padding-bottom: 14px; }
body .pb15 { padding-bottom: 15px; }
body .pb16 { padding-bottom: 16px; }
body .pb17 { padding-bottom: 17px; }
body .pb18 { padding-bottom: 18px; }
body .pb19 { padding-bottom: 19px; }
body .pb20 { padding-bottom: 20px; }
body .pb21 { padding-bottom: 21px; }
body .pb22 { padding-bottom: 22px; }
body .pb23 { padding-bottom: 23px; }
body .pb24 { padding-bottom: 24px; }
body .pb25 { padding-bottom: 25px; }
body .pb26 { padding-bottom: 26px; }
body .pb27 { padding-bottom: 27px; }
body .pb28 { padding-bottom: 28px; }
body .pb29 { padding-bottom: 29px; }
body .pb30 { padding-bottom: 30px; }
body .pb35 { padding-bottom: 35px; }
body .pb40 { padding-bottom: 40px; }
body .pb45 { padding-bottom: 45px; }
body .pb50 { padding-bottom: 50px; }
body .pb55 { padding-bottom: 55px; }
body .pb60 { padding-bottom: 60px; }

body .pr1  { padding-right: 1px; }
body .pr2  { padding-right: 2px; }
body .pr3  { padding-right: 3px; }
body .pr4  { padding-right: 4px; }
body .pr5  { padding-right: 5px; }
body .pr6  { padding-right: 6px; }
body .pr7  { padding-right: 7px; }
body .pr8  { padding-right: 8px; }
body .pr9  { padding-right: 9px; }
body .pr10 { padding-right: 10px; }
body .pr11 { padding-right: 11px; }
body .pr12 { padding-right: 12px; }
body .pr13 { padding-right: 13px; }
body .pr14 { padding-right: 14px; }
body .pr15 { padding-right: 15px; }
body .pr16 { padding-right: 16px; }
body .pr17 { padding-right: 17px; }
body .pr18 { padding-right: 18px; }
body .pr19 { padding-right: 19px; }
body .pr20 { padding-right: 20px; }
body .pr21 { padding-right: 21px; }
body .pr22 { padding-right: 22px; }
body .pr23 { padding-right: 23px; }
body .pr24 { padding-right: 24px; }
body .pr25 { padding-right: 25px; }
body .pr26 { padding-right: 26px; }
body .pr27 { padding-right: 27px; }
body .pr28 { padding-right: 28px; }
body .pr29 { padding-right: 29px; }
body .pr30 { padding-right: 30px; }
body .pr35 { padding-right: 35px; }
body .pr40 { padding-right: 40px; }
body .pr45 { padding-right: 45px; }
body .pr50 { padding-right: 50px; }
body .pr55 { padding-right: 55px; }
body .pr60 { padding-right: 60px; }

body .pl1  { padding-left: 1px; }
body .pl2  { padding-left: 2px; }
body .pl3  { padding-left: 3px; }
body .pl4  { padding-left: 4px; }
body .pl5  { padding-left: 5px; }
body .pl6  { padding-left: 6px; }
body .pl7  { padding-left: 7px; }
body .pl8  { padding-left: 8px; }
body .pl9  { padding-left: 9px; }
body .pl10 { padding-left: 10px; }
body .pl11 { padding-left: 11px; }
body .pl12 { padding-left: 12px; }
body .pl13 { padding-left: 13px; }
body .pl14 { padding-left: 14px; }
body .pl15 { padding-left: 15px; }
body .pl16 { padding-left: 16px; }
body .pl17 { padding-left: 17px; }
body .pl18 { padding-left: 18px; }
body .pl19 { padding-left: 19px; }
body .pl20 { padding-left: 20px; }
body .pl21 { padding-left: 21px; }
body .pl22 { padding-left: 22px; }
body .pl23 { padding-left: 23px; }
body .pl24 { padding-left: 24px; }
body .pl25 { padding-left: 25px; }
body .pl26 { padding-left: 26px; }
body .pl27 { padding-left: 27px; }
body .pl28 { padding-left: 28px; }
body .pl29 { padding-left: 29px; }
body .pl30 { padding-left: 30px; }
body .pl35 { padding-left: 35px; }
body .pl40 { padding-left: 40px; }
body .pl45 { padding-left: 45px; }
body .pl50 { padding-left: 50px; }
body .pl55 { padding-left: 55px; }
body .pl60 { padding-left: 60px; }

body .mlr1  { margin-left: 1px; margin-right: 1px;}
body .mlr2  { margin-left: 2px; margin-right: 2px;}
body .mlr3  { margin-left: 3px; margin-right: 3px;}
body .mlr4  { margin-left: 4px; margin-right: 4px;}
body .mlr5  { margin-left: 5px; margin-right: 5px;}
body .mlr6  { margin-left: 6px; margin-right: 6px;}
body .mlr7  { margin-left: 7px; margin-right: 7px;}
body .mlr8  { margin-left: 8px; margin-right: 8px;}
body .mlr9  { margin-left: 9px; margin-right: 9px;}
body .mlr10 { margin-left:10px; margin-right:10px; }
body .mlr11 { margin-left:11px; margin-right:11px; }
body .mlr12 { margin-left:12px; margin-right:12px; }
body .mlr13 { margin-left:13px; margin-right:13px; }
body .mlr14 { margin-left:14px; margin-right:14px; }
body .mlr15 { margin-left:15px; margin-right:15px; }
body .mlr16 { margin-left:16px; margin-right:16px; }
body .mlr17 { margin-left:17px; margin-right:17px; }
body .mlr18 { margin-left:18px; margin-right:18px; }
body .mlr19 { margin-left:19px; margin-right:19px; }
body .mlr20 { margin-left:20px; margin-right:20px; }
body .mlr21 { margin-left:21px; margin-right:21px; }
body .mlr22 { margin-left:22px; margin-right:22px; }
body .mlr23 { margin-left:23px; margin-right:23px; }
body .mlr24 { margin-left:24px; margin-right:24px; }
body .mlr25 { margin-left:25px; margin-right:25px; }
body .mlr26 { margin-left:26px; margin-right:26px; }
body .mlr27 { margin-left:27px; margin-right:27px; }
body .mlr28 { margin-left:28px; margin-right:28px; }
body .mlr29 { margin-left:29px; margin-right:29px; }
body .mlr30 { margin-left:30px; margin-right:30px; }
body .mlr35 { margin-left:35px; margin-right:35px; }
body .mlr40 { margin-left:40px; margin-right:40px; }
body .mlr45 { margin-left:45px; margin-right:45px; }
body .mlr50 { margin-left:50px; margin-right:50px; }
body .mlr55 { margin-left:55px; margin-right:55px; }
body .mlr60 { margin-left:60px; margin-right:60px; }
body .mtb1  { margin-top: 1px; margin-bottom: 1px;}
body .mtb2  { margin-top: 2px; margin-bottom: 2px;}
body .mtb3  { margin-top: 3px; margin-bottom: 3px;}
body .mtb4  { margin-top: 4px; margin-bottom: 4px;}
body .mtb5  { margin-top: 5px; margin-bottom: 5px;}
body .mtb6  { margin-top: 6px; margin-bottom: 6px;}
body .mtb7  { margin-top: 7px; margin-bottom: 7px;}
body .mtb8  { margin-top: 8px; margin-bottom: 8px;}
body .mtb9  { margin-top: 9px; margin-bottom: 9px;}
body .mtb10 { margin-top:10px; margin-bottom:10px; }
body .mtb11 { margin-top:11px; margin-bottom:11px; }
body .mtb12 { margin-top:12px; margin-bottom:12px; }
body .mtb13 { margin-top:13px; margin-bottom:13px; }
body .mtb14 { margin-top:14px; margin-bottom:14px; }
body .mtb15 { margin-top:15px; margin-bottom:15px; }
body .mtb16 { margin-top:16px; margin-bottom:16px; }
body .mtb17 { margin-top:17px; margin-bottom:17px; }
body .mtb18 { margin-top:18px; margin-bottom:18px; }
body .mtb19 { margin-top:19px; margin-bottom:19px; }
body .mtb20 { margin-top:20px; margin-bottom:20px; }
body .mtb21 { margin-top:21px; margin-bottom:21px; }
body .mtb22 { margin-top:22px; margin-bottom:22px; }
body .mtb23 { margin-top:23px; margin-bottom:23px; }
body .mtb24 { margin-top:24px; margin-bottom:24px; }
body .mtb25 { margin-top:25px; margin-bottom:25px; }
body .mtb26 { margin-top:26px; margin-bottom:26px; }
body .mtb27 { margin-top:27px; margin-bottom:27px; }
body .mtb28 { margin-top:28px; margin-bottom:28px; }
body .mtb29 { margin-top:29px; margin-bottom:29px; }
body .mtb30 { margin-top:30px; margin-bottom:30px; }
body .mtb35 { margin-top:35px; margin-bottom:35px; }
body .mtb40 { margin-top:40px; margin-bottom:40px; }
body .mtb45 { margin-top:45px; margin-bottom:45px; }
body .mtb50 { margin-top:50px; margin-bottom:50px; }
body .mtb55 { margin-top:55px; margin-bottom:55px; }
body .mtb60 { margin-top:60px; margin-bottom:60px; }

body .mt1 { margin-top: 1px; }
body .mt2 { margin-top: 2px; }
body .mt3 { margin-top: 3px; }
body .mt4 { margin-top: 4px; }
body .mt5 { margin-top: 5px; }
body .mt6 { margin-top: 6px; }
body .mt7 { margin-top: 7px; }
body .mt8 { margin-top: 8px; }
body .mt9 { margin-top: 9px; }
body .mt10 { margin-top: 10px; }
body .mt11 { margin-top: 11px; }
body .mt12 { margin-top: 12px; }
body .mt13 { margin-top: 13px; }
body .mt14 { margin-top: 14px; }
body .mt15 { margin-top: 15px; }
body .mt16 { margin-top: 16px; }
body .mt17 { margin-top: 17px; }
body .mt18 { margin-top: 18px; }
body .mt19 { margin-top: 19px; }
body .mt20 { margin-top: 20px; }
body .mt21 { margin-top: 21px; }
body .mt22 { margin-top: 22px; }
body .mt23 { margin-top: 23px; }
body .mt24 { margin-top: 24px; }
body .mt25 { margin-top: 25px; }
body .mt26 { margin-top: 26px; }
body .mt27 { margin-top: 27px; }
body .mt28 { margin-top: 28px; }
body .mt29 { margin-top: 29px; }
body .mt30 { margin-top: 30px; }
body .mt35 { margin-top: 35px; }
body .mt40 { margin-top: 40px; }
body .mt45 { margin-top: 45px; }
body .mt50 { margin-top: 50px; }
body .mt55 { margin-top: 55px; }
body .mt60 { margin-top: 60px; }

body .mb1 { margin-bottom: 1px; }
body .mb2 { margin-bottom: 2px; }
body .mb3 { margin-bottom: 3px; }
body .mb4 { margin-bottom: 4px; }
body .mb5 { margin-bottom: 5px; }
body .mb6 { margin-bottom: 6px; }
body .mb7 { margin-bottom: 7px; }
body .mb8 { margin-bottom: 8px; }
body .mb9 { margin-bottom: 9px; }
body .mb10 { margin-bottom: 10px; }
body .mb11 { margin-bottom: 11px; }
body .mb12 { margin-bottom: 12px; }
body .mb13 { margin-bottom: 13px; }
body .mb14 { margin-bottom: 14px; }
body .mb15 { margin-bottom: 15px; }
body .mb16 { margin-bottom: 16px; }
body .mb17 { margin-bottom: 17px; }
body .mb18 { margin-bottom: 18px; }
body .mb19 { margin-bottom: 19px; }
body .mb20 { margin-bottom: 20px; }
body .mb21 { margin-bottom: 21px; }
body .mb22 { margin-bottom: 22px; }
body .mb23 { margin-bottom: 23px; }
body .mb24 { margin-bottom: 24px; }
body .mb25 { margin-bottom: 25px; }
body .mb26 { margin-bottom: 26px; }
body .mb27 { margin-bottom: 27px; }
body .mb28 { margin-bottom: 28px; }
body .mb29 { margin-bottom: 29px; }
body .mb30 { margin-bottom: 30px; }
body .mb35 { margin-bottom: 35px; }
body .mb40 { margin-bottom: 40px; }
body .mb45 { margin-bottom: 45px; }
body .mb50 { margin-bottom: 50px; }
body .mb55 { margin-bottom: 55px; }
body .mb60 { margin-bottom: 60px; }

body .mr1 { margin-right: 1px; }
body .mr2 { margin-right: 2px; }
body .mr3 { margin-right: 3px; }
body .mr4 { margin-right: 4px; }
body .mr5 { margin-right: 5px; }
body .mr6 { margin-right: 6px; }
body .mr7 { margin-right: 7px; }
body .mr8 { margin-right: 8px; }
body .mr9 { margin-right: 9px; }
body .mr10 { margin-right: 10px; }
body .mr11 { margin-right: 11px; }
body .mr12 { margin-right: 12px; }
body .mr13 { margin-right: 13px; }
body .mr14 { margin-right: 14px; }
body .mr15 { margin-right: 15px; }
body .mr16 { margin-right: 16px; }
body .mr17 { margin-right: 17px; }
body .mr18 { margin-right: 18px; }
body .mr19 { margin-right: 19px; }
body .mr20 { margin-right: 20px; }
body .mr21 { margin-right: 21px; }
body .mr22 { margin-right: 22px; }
body .mr23 { margin-right: 23px; }
body .mr24 { margin-right: 24px; }
body .mr25 { margin-right: 25px; }
body .mr26 { margin-right: 26px; }
body .mr27 { margin-right: 27px; }
body .mr28 { margin-right: 28px; }
body .mr29 { margin-right: 29px; }
body .mr30 { margin-right: 30px; }
body .mr35 { margin-right: 35px; }
body .mr40 { margin-right: 40px; }
body .mr45 { margin-right: 45px; }
body .mr50 { margin-right: 50px; }
body .mr55 { margin-right: 55px; }
body .mr60 { margin-right: 60px; }

body .ml1 { margin-left: 1px; }
body .ml2 { margin-left: 2px; }
body .ml3 { margin-left: 3px; }
body .ml4 { margin-left: 4px; }
body .ml5 { margin-left: 5px; }
body .ml6 { margin-left: 6px; }
body .ml7 { margin-left: 7px; }
body .ml8 { margin-left: 8px; }
body .ml9 { margin-left: 9px; }
body .ml10 { margin-left: 10px; }
body .ml11 { margin-left: 11px; }
body .ml12 { margin-left: 12px; }
body .ml13 { margin-left: 13px; }
body .ml14 { margin-left: 14px; }
body .ml15 { margin-left: 15px; }
body .ml16 { margin-left: 16px; }
body .ml17 { margin-left: 17px; }
body .ml18 { margin-left: 18px; }
body .ml19 { margin-left: 19px; }
body .ml20 { margin-left: 20px; }
body .ml21 { margin-left: 21px; }
body .ml22 { margin-left: 22px; }
body .ml23 { margin-left: 23px; }
body .ml24 { margin-left: 24px; }
body .ml25 { margin-left: 25px; }
body .ml26 { margin-left: 26px; }
body .ml27 { margin-left: 27px; }
body .ml28 { margin-left: 28px; }
body .ml29 { margin-left: 29px; }
body .ml30 { margin-left: 30px; }
body .ml35 { margin-left: 35px; }
body .ml40 { margin-left: 40px; }
body .ml45 { margin-left: 45px; }
body .ml50 { margin-left: 50px; }
body .ml55 { margin-left: 55px; }
body .ml60 { margin-left: 60px; }

body .ord1, body .ordfirst { order: 1; }
body .ord2, body .ordmid { order: 2; }
body .ord3, body .ordlast { order: 3; }
body .ord4 { order: 4; }
body .ord5 { order: 5; }
body .ord6 { order: 6; }
body .ord7 { order: 7; }
body .ord8 { order: 8; }
body .ord9 { order: 9; }
body .ord10 { order: 10; }
/* All Styling */
body .flmid { display: flex; align-items: center; }
body .fltop { display: flex; align-items: flex-start; }
body .flbottom { display: flex; align-items: flex-end; }
body .flgrow { flex-grow:1; }
body .flshink0 { flex-shrink:0; }
body .flmidh { display: flex; justify-content: center; }
body .flmidall { display: flex; align-items: center; justify-content: center; }
body .flspacebetween { display: flex; justify-content: space-between; }
body .flspacearound { display: flex; justify-content: space-around; }
body .blk { display: block; }
body .inblk { display: inline-block; }
body .flex { display: flex; }
body .txtleft { text-align: left; }
body .txtright { text-align: right; }
body .txtmid { text-align: center; }
body .prel { position: relative; }
body .pabs { position: absolute; }
body .pfix { position: fixed; }
body .psticky { position: sticky; }
body .pstatic { position: static; }
body .pmid { position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; }
body .flwrap { display: flex; flex-wrap: wrap; }
body .lowercase { text-transform: lowercase; }
body .uppercase { text-transform: uppercase; }
body .capitalize { text-transform: capitalize; }
body .bgtransparent { background: none !important; }
body .breakword, body .longword, body .wordbreak { word-wrap: break-word; word-break: break-all; }
body .round { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
body .shadow { -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); padding: 4px; }
body .invisible { visibility: hidden; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)"; filter: alpha(opacity=00); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; pointer-events: none; }

body .lh14 { line-height: 14px; }
body .lh16 { line-height: 16px; }
body .lh18 { line-height: 18px; }
body .lh20 { line-height: 20px; }
body .lh22 { line-height: 22px; }
body .lh24 { line-height: 24px; }
body .lh26 { line-height: 26px; }
body .lh28 { line-height: 28px; }
body .lh30 { line-height: 30px; }
body .lh32 { line-height: 32px; }
body .lh34 { line-height: 34px; }
body .lh36 { line-height: 36px; }
body .lh38 { line-height: 38px; }
body .lh40 { line-height: 40px; }
body .font10 { font-size: 0.625em; }
body .font11 { font-size: 0.688em; }
body .font12 { font-size: 0.750em; }
body .font13 { font-size: 0.813em; }
body .font14 { font-size: 0.875em; }
body .font15 { font-size: 0.938em; }
body .font16 { font-size: 1em; }
body .font17 { font-size: 1.063em; }
body .font18 { font-size: 1.125em; }
body .font19 { font-size: 1.188em; }
body .font20 { font-size: 1.250em; }
body .font22 { font-size: 1.375em; }
body .font24 { font-size: 1.500em; }
body .font26 { font-size: 1.625em; }
body .font28 { font-size: 1.750em; }
body .font30 { font-size: 1.875em; }
body .font32 { font-size: 2em; }
body .font34 { font-size: 2.125em; }
body .font36 { font-size: 2.250em; }
body .font38 { font-size: 2.375em; }
body .font40 { font-size: 2.500em; }
body .fnone { float: none; clear: both; }
body .hautoimp { height: auto !important; }
body .wautoimp { width: auto !important; }

body .w1 { -ms-flex: 0 0 1%; flex: 0 0 1%; max-width: 1%; }
body .w2 { -ms-flex: 0 0 2%; flex: 0 0 2%; max-width: 2%; }
body .w3 { -ms-flex: 0 0 3%; flex: 0 0 3%; max-width: 3%; }
body .w4 { -ms-flex: 0 0 4%; flex: 0 0 4%; max-width: 4%; }
body .w5 { -ms-flex: 0 0 5%; flex: 0 0 5%; max-width: 5%; }
body .w6 { -ms-flex: 0 0 6%; flex: 0 0 6%; max-width: 6%; }
body .w7 { -ms-flex: 0 0 7%; flex: 0 0 7%; max-width: 7%; }
body .w8 { -ms-flex: 0 0 8%; flex: 0 0 8%; max-width: 8%; }
body .w9 { -ms-flex: 0 0 9%; flex: 0 0 9%; max-width: 9%; }
body .w10 { -ms-flex: 0 0 10%; flex: 0 0 10%; max-width: 10%; }
body .w11 { -ms-flex: 0 0 11%; flex: 0 0 11%; max-width: 11%; }
body .w12 { -ms-flex: 0 0 12%; flex: 0 0 12%; max-width: 12%; }
body .w13 { -ms-flex: 0 0 13%; flex: 0 0 13%; max-width: 13%; }
body .w14 { -ms-flex: 0 0 14%; flex: 0 0 14%; max-width: 14%; }
body .w15 { -ms-flex: 0 0 15%; flex: 0 0 15%; max-width: 15%; }
body .w16 { -ms-flex: 0 0 16%; flex: 0 0 16%; max-width: 16%; }
body .w17 { -ms-flex: 0 0 17%; flex: 0 0 17%; max-width: 17%; }
body .w18 { -ms-flex: 0 0 18%; flex: 0 0 18%; max-width: 18%; }
body .w19 { -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%; }
body .w20 { -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }
body .w21 { -ms-flex: 0 0 21%; flex: 0 0 21%; max-width: 21%; }
body .w22 { -ms-flex: 0 0 22%; flex: 0 0 22%; max-width: 22%; }
body .w23 { -ms-flex: 0 0 23%; flex: 0 0 23%; max-width: 23%; }
body .w24 { -ms-flex: 0 0 24%; flex: 0 0 24%; max-width: 24%; }
body .w25 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
body .w26 { -ms-flex: 0 0 26%; flex: 0 0 26%; max-width: 26%; }
body .w27 { -ms-flex: 0 0 27%; flex: 0 0 27%; max-width: 27%; }
body .w28 { -ms-flex: 0 0 28%; flex: 0 0 28%; max-width: 28%; }
body .w29 { -ms-flex: 0 0 29%; flex: 0 0 29%; max-width: 29%; }
body .w30 { -ms-flex: 0 0 30%; flex: 0 0 30%; max-width: 30%; }
body .w31 { -ms-flex: 0 0 31%; flex: 0 0 31%; max-width: 31%; }
body .w32 { -ms-flex: 0 0 32%; flex: 0 0 32%; max-width: 32%; }
body .w33 { -ms-flex: 0 0 33%; flex: 0 0 33%; max-width: 33%; }
body .w34 { -ms-flex: 0 0 34%; flex: 0 0 34%; max-width: 34%; }
body .w35 { -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%; }
body .w36 { -ms-flex: 0 0 36%; flex: 0 0 36%; max-width: 36%; }
body .w37 { -ms-flex: 0 0 37%; flex: 0 0 37%; max-width: 37%; }
body .w38 { -ms-flex: 0 0 38%; flex: 0 0 38%; max-width: 38%; }
body .w39 { -ms-flex: 0 0 39%; flex: 0 0 39%; max-width: 39%; }
body .w40 { -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%; }
body .w41 { -ms-flex: 0 0 41%; flex: 0 0 41%; max-width: 41%; }
body .w42 { -ms-flex: 0 0 42%; flex: 0 0 42%; max-width: 42%; }
body .w43 { -ms-flex: 0 0 43%; flex: 0 0 43%; max-width: 43%; }
body .w44 { -ms-flex: 0 0 44%; flex: 0 0 44%; max-width: 44%; }
body .w45 { -ms-flex: 0 0 45%; flex: 0 0 45%; max-width: 45%; }
body .w46 { -ms-flex: 0 0 46%; flex: 0 0 46%; max-width: 46%; }
body .w47 { -ms-flex: 0 0 47%; flex: 0 0 47%; max-width: 47%; }
body .w48 { -ms-flex: 0 0 48%; flex: 0 0 48%; max-width: 48%; }
body .w49 { -ms-flex: 0 0 49%; flex: 0 0 49%; max-width: 49%; }
body .w50 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
body .w51 { -ms-flex: 0 0 51%; flex: 0 0 51%; max-width: 51%; }
body .w52 { -ms-flex: 0 0 52%; flex: 0 0 52%; max-width: 52%; }
body .w53 { -ms-flex: 0 0 53%; flex: 0 0 53%; max-width: 53%; }
body .w54 { -ms-flex: 0 0 54%; flex: 0 0 54%; max-width: 54%; }
body .w55 { -ms-flex: 0 0 55%; flex: 0 0 55%; max-width: 55%; }
body .w56 { -ms-flex: 0 0 56%; flex: 0 0 56%; max-width: 56%; }
body .w57 { -ms-flex: 0 0 57%; flex: 0 0 57%; max-width: 57%; }
body .w58 { -ms-flex: 0 0 58%; flex: 0 0 58%; max-width: 58%; }
body .w59 { -ms-flex: 0 0 59%; flex: 0 0 59%; max-width: 59%; }
body .w60 { -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%; }
body .w61 { -ms-flex: 0 0 61%; flex: 0 0 61%; max-width: 61%; }
body .w62 { -ms-flex: 0 0 62%; flex: 0 0 62%; max-width: 62%; }
body .w63 { -ms-flex: 0 0 63%; flex: 0 0 63%; max-width: 63%; }
body .w64 { -ms-flex: 0 0 64%; flex: 0 0 64%; max-width: 64%; }
body .w65 { -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%; }
body .w66 { -ms-flex: 0 0 66%; flex: 0 0 66%; max-width: 66%; }
body .w67 { -ms-flex: 0 0 67%; flex: 0 0 67%; max-width: 67%; }
body .w68 { -ms-flex: 0 0 68%; flex: 0 0 68%; max-width: 68%; }
body .w69 { -ms-flex: 0 0 69%; flex: 0 0 69%; max-width: 69%; }
body .w70 { -ms-flex: 0 0 70%; flex: 0 0 70%; max-width: 70%; }
body .w71 { -ms-flex: 0 0 71%; flex: 0 0 71%; max-width: 71%; }
body .w72 { -ms-flex: 0 0 72%; flex: 0 0 72%; max-width: 72%; }
body .w73 { -ms-flex: 0 0 73%; flex: 0 0 73%; max-width: 73%; }
body .w74 { -ms-flex: 0 0 74%; flex: 0 0 74%; max-width: 74%; }
body .w75 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
body .w76 { -ms-flex: 0 0 76%; flex: 0 0 76%; max-width: 76%; }
body .w77 { -ms-flex: 0 0 77%; flex: 0 0 77%; max-width: 77%; }
body .w78 { -ms-flex: 0 0 78%; flex: 0 0 78%; max-width: 78%; }
body .w79 { -ms-flex: 0 0 79%; flex: 0 0 79%; max-width: 79%; }
body .w80 { -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%; }
body .w81 { -ms-flex: 0 0 81%; flex: 0 0 81%; max-width: 81%; }
body .w82 { -ms-flex: 0 0 82%; flex: 0 0 82%; max-width: 82%; }
body .w83 { -ms-flex: 0 0 83%; flex: 0 0 83%; max-width: 83%; }
body .w84 { -ms-flex: 0 0 84%; flex: 0 0 84%; max-width: 84%; }
body .w85 { -ms-flex: 0 0 85%; flex: 0 0 85%; max-width: 85%; }
body .w86 { -ms-flex: 0 0 86%; flex: 0 0 86%; max-width: 86%; }
body .w87 { -ms-flex: 0 0 87%; flex: 0 0 87%; max-width: 87%; }
body .w88 { -ms-flex: 0 0 88%; flex: 0 0 88%; max-width: 88%; }
body .w89 { -ms-flex: 0 0 89%; flex: 0 0 89%; max-width: 89%; }
body .w90 { -ms-flex: 0 0 90%; flex: 0 0 90%; max-width: 90%; }
body .w91 { -ms-flex: 0 0 91%; flex: 0 0 91%; max-width: 91%; }
body .w92 { -ms-flex: 0 0 92%; flex: 0 0 92%; max-width: 92%; }
body .w93 { -ms-flex: 0 0 93%; flex: 0 0 93%; max-width: 93%; }
body .w94 { -ms-flex: 0 0 94%; flex: 0 0 94%; max-width: 94%; }
body .w95 { -ms-flex: 0 0 95%; flex: 0 0 95%; max-width: 95%; }
body .w96 { -ms-flex: 0 0 96%; flex: 0 0 96%; max-width: 96%; }
body .w97 { -ms-flex: 0 0 97%; flex: 0 0 97%; max-width: 97%; }
body .w98 { -ms-flex: 0 0 98%; flex: 0 0 98%; max-width: 98%; }
body .w99 { -ms-flex: 0 0 99%; flex: 0 0 99%; max-width: 99%; }
body .w100 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }


html .container { max-width: 600px; margin: auto; }
::-webkit-input-placeholder { color: #b7b7b7; }
::-moz-placeholder { color: #b7b7b7; opacity: 1; }
:-ms-input-placeholder { color: #b7b7b7; }
:-moz-placeholder { color: #b7b7b7; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; -webkit-overflow-scrolling: touch; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #060628; font-weight: 400; }
html, body, body * { font-family: 'Source Sans Pro', sans-serif; }
a { text-decoration: none; color: #060628; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }
p, h1, h2, h3, h4, h5, h6, ul, ol, dd, table, fieldset, address { margin: 0; padding: 0; }
label, h1, h2, h3, h4, h5, h6, dt, th { font-weight: 400; }
table { border-collapse: separate; border-spacing: 0; width: 100%; empty-cells: show; border: none; }
table table { margin: 0; }
th, td { border: none; padding: 5px 10px; }
caption, th, td { font-weight: 400; }
ul, ol { list-style: none; }
button, input, select, textarea { margin: 0; vertical-align: baseline; background-color: transparent; border: none; }
input[type="checkbox"] { -webkit-appearance: checkbox; }
input[type="radio"] { -webkit-appearance: radio; }
textarea { overflow: auto; vertical-align: top; resize: vertical; max-width: 100%; min-width: 100%; max-height: 200px; min-height: 70px; padding: 8px; background-color: white; }
.noresize { resize: none !important; }
body .regular { font-weight: 400; }
body .medium { font-weight: 600; }
b, strong, body .bold { font-weight: 700; }
/* NEWLY ADDED*/
body .heightauto { min-height: 0 !important; height: auto !important; }
body .h100imp { height: 100% !important; }
body .whitebg { background-color: #fff !important; }
body .whitetxt { color: #fff; }
body .pabslefttop { position: absolute; left: 0; top: 0; }
body .pabsleftbottom { position: absolute; left: 0; bottom: 0; }
body .pabsrighttop { position: absolute; right: 0; top: 0; }
body .pabsrightbottom { position: absolute; right: 0; bottom: 0; }
body .op10 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter: alpha(opacity=10); -moz-opacity: 0.1; -khtml-opacity: 0.1; zoom: 1; opacity: 0.1; }
body .op20 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter: alpha(opacity=20); -moz-opacity: 0.2; -khtml-opacity: 0.2; zoom: 1; opacity: 0.2; }
body .op30 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); -moz-opacity: 0.3; -khtml-opacity: 0.3; zoom: 1; opacity: 0.3; }
body .op40 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: alpha(opacity=40); -moz-opacity: 0.4; -khtml-opacity: 0.4; zoom: 1; opacity: 0.4; }
body .op50 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; zoom: 1; opacity: 0.5; }
body .op60 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; zoom: 1; opacity: 0.6; }
body .op70 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; zoom: 1; opacity: 0.7; }
body .op80 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; zoom: 1; opacity: 0.8; }
body .op90 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; zoom: 1; opacity: 0.9; }
body .op100 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1.0; -khtml-opacity: 1.0; zoom: 1; opacity: 1.0; }
body .clearfix { clear: both; }
body .clearfix:after { content: ''; display: block; clear: both; }



body .show { display: block !important; }
body .hide { display: none !important; }
body .w100imp { width: 100% !important; }
body .fleft { float: left; }
body .fright { float: right; }
body .hauto { height: auto; }
body .wauto { width: auto; }

body .container { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
body .row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }
body .row15px, body .rowevenspace { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -7px; margin-left: -7px; }
body .row > [class*="c"], .row > [class*="w"] { padding-left: 15px; padding-right: 15px; }
body .row15px > [class*="c"], .row15px > [class*="w"] { padding-left: 7px; padding-right: 7px; }
body .nogutter > [class*="c"], .nogutter > [class*="w"] { padding-left: 0; padding-right: 0; }
body .nogutter { margin-right: 0; margin-left: 0; }
/* Structure */
body .c1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
body .c2 { -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
body .c3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
body .c4 { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
body .c5 { -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
body .c6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
body .c7 { -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
body .c8 { -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
body .c9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
body .c10 { -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
body .c11 { -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
body .c12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
body .cs1 { margin-left: 8.333333%; }
body .cs2 { margin-left: 16.666667%; }
body .cs3 { margin-left: 25%; }
body .cs4 { margin-left: 33.333333%; }
body .cs5 { margin-left: 41.666667%; }
body .cs6 { margin-left: 50%; }
body .cs7 { margin-left: 58.333333%; }
body .cs8 { margin-left: 66.666667%; }
body .cs9 { margin-left: 75%; }
body .cs10 { margin-left: 83.333333%; }
body .cs11 { margin-left: 91.666667%; }
/* ALL WIDTHS */

